
.block-quote{
    height: 300px;
    margin-top: 160px;
}

.blockquote {
    color: white;
}


.blockquote-text {
    color: rgb(255, 217, 0);
    font-family: 'Montserrat';
    font-weight: 100;
}


background2 {
    padding: 20px;
}